@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 2000px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.home-products, .home-testi{
		background-size: auto;
	}
}
@media screen and (max-width: 1800px) {
/*
	body{
		border: 1px solid red;
	}
*/
}
@media screen and (max-width: 1600px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
}
@media screen and (max-width: 1450px) {
/*
	body{
		border: 1px solid pink;
	}
*/
}
@media screen and (max-width: 1400px) {
/*
	body{
		border: 1px solid black;
	}
*/
}
@media screen and (max-width: 1350px) {
/*
	body{
		border: 1px solid red;
	}
*/
}
@media screen and (max-width: 1280px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
	.banner .wrapper{
		top: 16%;
	}
}
@media screen and (max-width: 1250px) {
/*
	body{
		border: 1px solid blue;
	}
*/
}
@media screen and (max-width: 1200px) {
/*
	body{
		border: 1px solid pink;
	}
*/
/*
	.responsive{
		display:block;
	}
	.navigation{
		padding: 14px 0 12px;
		z-index: 100000;
	}
	.nav{
		display:none;
		overflow:hidden;
		opacity:0;
		min-height:0;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		transition: none;
		-webkit-transform-style: preserve-3d;
		position:absolute;
		top:43px;
		left:0;
		right:0;
		background:#FFF;
		-webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
	}
	.flexnav-show{
		max-height: 2000px;
		overflow:visible !important;
        opacity: 1 !important ;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		display:block !important;
		z-index:100000;
	}
	.nav > li{
		float:none;
		margin:0;
		text-align:center;
		border-bottom:1px solid #e0e0e0;
		border-right:none;
		background: none;
		padding: 0;
		display: block;
		line-height: 24px;
	}
	.nav > li:last-child{
		border-bottom: none;
	}
	.nav li a{
		padding:10px !important;
		display:block;
		margin: 0;
	}
	.nav li a:after{
		display: none !important;
	}
	.nav li.parent-dropdown a{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a:hover{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.active{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.parent-active{
		background:url(../images/dropdown_ar_up.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.active.activeurl{
		background:url(../images/dropdown_ar_up.png) no-repeat 98% 16px;
	}
	.nav li ul{
		position:static;
		width:auto;
		border:none;
		right: 0;
		text-align: center;
		background-color: #cfa34c;
		box-shadow: none;
	}
	.nav li ul li{
		font-size: 14px;
		line-height: 20px;
	}
	.nav li ul li a{
		background-image:none !important;
		color: #FFF;
	}
	.nav li ul li a:hover, .nav li ul li a.active{
		color:#303030;
	}
	.nav li.parent-dropdown a span.drop{
		display: none;
	}
*/
}