@charset "utf-8";
/* CSS Document */
.rslides {
  	position: relative;
  	list-style: none;
  	overflow: hidden;
  	width: 100%;
  	padding: 0;
  	margin: 0;
}
.rslides li {
  	-webkit-backface-visibility: hidden;
  	position: absolute;
  	display: none;
  	width: 100%;
  	left: 0;
  	top: 0;
}
.rslides li:first-child {
  	position: relative;
  	display: block;
  	float: left;
}
.rslides img {
  	display: block;
  	height: auto;
  	border: 0;
	width: 100%;
	position: relative;
	z-index: 1;
}
.rslides_tabs{
	background:none;
	z-index:10;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
	width: 1170px;
}
.rslides_tabs li{
	list-style:none;
	float: left;
	margin: 0 8px 0 0;
}
.rslides_tabs li:last-child{
	background: none;
}
.rslides_tabs li a{
	text-indent:-20000px;
	display:block;
	width:30px;
	height:6px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: rgba(0,0,0,.2);
	margin: 3px 0 0;
}
.rslides_tabs li.rslides_here a, .rslides_tabs li a:hover{
	background-color: #4c68b1;
	margin: 0;
}
.rslides_nav{
	display: block;
}
.banner .prev{
	width:45px;
	height:85px;
	left:5%;
	top: 55%;
	position:absolute;
	display:block;
	text-indent:-200000px;
	background:url(../images/banner_prev.png) no-repeat 0 0;
	z-index:10000;
}
.banner .next{
	width:45px;
	height:85px;
	right:5%;
	top: 55%;
	position:absolute;
	display:block;
	text-indent:-200000px;
	background:url(../images/banner_next.png) no-repeat 0 0;
	z-index:10000;
}


