@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

@font-face {
	font-family:'TrajanPro-Regular';
	src: url('../fonts/TrajanPro-Regular_gdi.eot');
	src: url('../fonts/TrajanPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrajanPro-Regular_gdi.woff') format('woff'),
		url('../fonts/TrajanPro-Regular_gdi.ttf') format('truetype'),
		url('../fonts/TrajanPro-Regular_gdi.svg#TrajanPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
@font-face {
	font-family:'TrajanPro-Bold';
	src: url('../fonts/TrajanPro-Bold_gdi.eot');
	src: url('../fonts/TrajanPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrajanPro-Bold_gdi.woff') format('woff'),
		url('../fonts/TrajanPro-Bold_gdi.ttf') format('truetype'),
		url('../fonts/TrajanPro-Bold_gdi.svg#TrajanPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
body{
	font-family: 'Ubuntu', sans-serif;
	font-size:17px;
    text-align: center;
    background-color: #000;
    color:white;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}
img{
	display:block;
	border:none;
	outline:none;
}
ul{
	list-style:none;
}
input:focus, textarea:focus, select:focus{
	outline:none;
}
textarea{
	overflow:auto;
}
input[type=text], input[type=password], input[type=submit], input[type=reset], textarea, select{
	-webkit-appearance:none;
	border-radius:0;
}
a{
	color:#4f6bae;
}
a, a:hover{
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	font-family:'TrajanPro-Bold';
}
.clear{
	clear:both;
	font-size:0;
	line-height:0;
}
.wrapper{
	width:1170px;
	margin:0 auto;
}
.hidden{
	opacity: 0;
}
.visible{
	opacity: 1;
}


/*header section start*/
.header{
	padding: 23px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000;
	z-index: 100;
}
.logo{
	float: left;
	width: 280px;
}
.top-right{
	float: right;
	padding: 7px 0 0;
}
.top-links{
	float: right;
	position: relative;
	z-index: 100;
}
.top-social{
	margin: 6px 0 0;
	padding: 0;
	overflow: hidden;
	float: left;
}
.top-social li{
	float: left;
	margin: 0 5px 0 0;
}
.top-social li:last-child{
	margin: 0;
}
.top-social li a{
	width: 28px;
	height: 28px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top-social li a.fb{
	background: url(../images/top_fb.png) no-repeat 0 0;
}
.top-social li a.twit{
	background: url(../images/top_twit.png) no-repeat 0 0;
}
.top-social li a.inst{
	background: url(../images/top_inst.png) no-repeat 0 0;
}
.top-social li a:hover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.top-links .btn{
	float: left;
	margin: 0 0 0 20px;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #303030;
	line-height: 45px;
	padding: 0 24px;
	background-color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top-links .btn:hover{
	color: #FFF;
	background-color: #4c68b1;
}
.top-links .btn span{
	display: inline-block;
	vertical-align: top;
	background: url(../images/top_login_icon.png) no-repeat 0 center;
	width: 13px;
	height: 45px;
	margin: 0 5px 0 0;
}
.top-links .btn:hover span{
	background: url(../images/top_login_icon_h.png) no-repeat 0 center;
}
.navigation{
	position: relative;
	z-index: 10;
	margin: -1px 0 0;
	border-top: 1px solid rgba(255,255,255,.25);
}
.nav{
	padding: 0;
	margin: 0;
}
.nav li{
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
	position: relative;
	margin: 0 35px 0 0;
	float: left;
	font-weight: 500;
}
.nav li:last-child{
	margin: 0;
}
.nav li a{
	display: block;
	position: relative;
	color: #FFF;
	padding: 20px 0 28px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav li a:before{
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #4c68b1;
	width: 0;
	margin: 0 auto;
	position: absolute;
	display: block;
	content: '';
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav li a:hover:before{
	width: 100%;
}
.nav li.parent-dropdown a:after{
	width: 19px;
	height: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	display: block;
	content: '';
	background: url(../images/dropdown_arrow.png) no-repeat 0 0;
	position: absolute;
	background-size: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav li.parent-dropdown:hover a:after{
	height: 10px;
}
.nav li ul{
	position: absolute;
	top: 74px;
	left: 0;
	width: 305px;
	background-color: #435da8;
	display: none;
	text-align: left;
	-webkit-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.2);
}
.nav li ul li{
	float: none;
	margin: 0 !important;
	font-size: 17px;
	line-height: 25px;
	text-transform: none;
	display: block;
	font-weight: 500;
}
.nav li ul li:last-child{
	border-bottom: none;
}
.nav li ul li a{
	padding: 16px 10px 16px 40px;
	margin: 0;
	border-radius: 0;
	color: #FFF;
	display: block;
	background: url(../images/drop_ar.png) no-repeat 25px 24px;
}
.nav li ul li a:before, .nav li ul li a:after{
	display: none !important;
}
.nav li ul li a:hover, .nav li ul li a.active{
	color: #303030;
	background: url(../images/drop_ar_h.png) no-repeat 25px 24px #FFF;
}
.responsive{
	width:26px;
	display:none;
	float:right;
	cursor:pointer;
	display:none;
	position:relative;
	height:18px;
}
.responsive span{
	background-color:#cea34b;
	height:4px;
	display:block;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	position:relative;
	margin:7px 0;
}
.responsive span:before, .responsive span:after{
	background-color:#cea34b;
	height:100%;
	width:100%;
	left:0;
	right:0;
	display:block;
	content:'';
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	position:absolute;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.responsive span:before{
	top:-7px;
}
.responsive span:after{
	top:7px;
}
.responsive.active span::before {
	top: 0;
	transform: rotate(45deg);
}
.responsive.active span::after {
	top: 0;
	transform: rotate(-45deg);
}
.responsive.active span {
	background-color:transparent;
}
.header .responsive{
	display: none;
}
/*header section end*/


/*banner section start*/
.banner{
	position: relative;
}
.banner .rslides .wrapper{
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	z-index: 1;
}
.banner-cont{
	overflow: hidden;
	width: 865px;
}
.banner h1{
	font-size: 50px;
	line-height: 58px;
	color: #303030;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 17px;
}
.banner h1 span{
	color: #4c68b1;
	display: block;
	font-size: 30px;
	line-height: 44px;
}
.banner p{
	font-size: 22px;
	line-height: 28px;
	color: #303030;
	margin: 0 0 25px;
}
.banner-cont .btn, .home-testi .btn{
	font-size: 17px;
	line-height: 60px;
	padding: 0 30px;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	background-color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner-cont .btn:hover{
	background-color: #4c68b1;
}
/*banner section end*/


/*explore cmco section start*/
.explore-cmco{
	padding: 120px 0;
	text-align: center;
	overflow: hidden;
	background: url(../images/explore_cmco_bg.jpg) repeat 0 0;
}
.explore-cmco h2, .home-testi h2, .home-contact h2{
	font-size: 46px;
	line-height: 50px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: normal;
}
.explore-cmco h2 img, .home-testi h2 img, .home-contact h2 img{
	margin: 0 auto 18px;
}
.explore-cmco ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.explore-cmco ul li{
	width: 356px;
	float: left;
	margin: 80px 51px 0 0;
	background-color: #FFF;
	cursor: pointer;
}
.explore-cmco ul li:nth-child(3n){
	margin-right: 0;
}
.explore-cmco ul li .pic-wrap{
	overflow: hidden;
}
.explore-cmco ul li .pic{
	height: 380px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-size: cover !important;
}
.explore-cmco ul li .pic a{
	display: block;
	width: 100%;
	height: 100%;
}
.explore-cmco ul li .pic1{
	background: url(../images/explore_cmco_pic1.jpg) no-repeat center 0;
}
.explore-cmco ul li .pic2{
	background: url(../images/explore_cmco_pic2.jpg) no-repeat center 0;
}
.explore-cmco ul li .pic3{
	background: url(../images/explore_cmco_pic3.jpg) no-repeat center 0;
}
.explore-cmco ul li .pic4{
	background: url(../images/explore_cmco_pic4.jpg) no-repeat center 0;
}
.explore-cmco ul li .pic5{
	background: url(../images/explore_cmco_pic5.jpg) no-repeat center 0;
}
.explore-cmco ul li .pic6{
	background: url(../images/explore_cmco_pic6.jpg) no-repeat center 0;
}
.explore-cmco-text{
	padding: 18px 25px 28px;
	position: relative;
}
.explore-cmco-text:before{
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	content: '';
	background: url(../images/explore_cmco_block_triangle.png) no-repeat 0 0;
	top: -85px;
	height: 85px;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.explore-cmco ul li img{
	position: absolute;
	top: -140px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.explore-cmco-text h3{
	font-size: 24px;
	line-height: 30px;
	color: #303030;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 0 8px;
}
.explore-cmco-text p{
	line-height: 26px;
	font-weight: 300;
	margin: 0 0 12px;
}
.explore-cmco ul li .link{
	font-weight: 700;
	display: block;
	line-height: 26px;
	text-transform: uppercase;
	color: #4c68b1;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}
.explore-cmco ul li .link span{
	display: inline-block;
	vertical-align: top;
	background: url(../images/explore_cmco_link_ar.png) no-repeat 0 center;
	width: 19px;
	height: 26px;
	margin: 0 0 0 4px;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.explore-cmco ul li:hover .link span{
  	-webkit-animation-name: hvr-icon-wobble-horizontal;
  	animation-name: hvr-icon-wobble-horizontal;
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-timing-function: ease-in-out;
  	animation-timing-function: ease-in-out;
  	-webkit-animation-iteration-count: 1;
  	animation-iteration-count: 1;
}
.explore-cmco ul li:hover .pic{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.explore-cmco ul li:hover img{
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.explore-cmco ul li:hover .explore-cmco-text:before{
	height: 70px;
	top: -70px;
}
/*explore cmco section end*/


/*testimonial section start*/
.home-testi{
	padding: 120px 0;
	text-align: center;
	overflow: hidden;
	background: url(../images/home_testi_bg.jpg) no-repeat right 0;
	background-size: cover;
	background-attachment: fixed;
}
.home-testi h2{
	margin: 0 0 68px;
}
.home-testi .testi-pic{
	margin: 0 130px 14px;
	position: relative;
	border-bottom: 1px solid #a5a5a5;
	overflow: hidden;
	padding: 0 0 42px;
	background: url(../images/testi_pic_ar.png) no-repeat center bottom;
}
.home-testi .testi-pic img{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 150px;
	margin: 0 auto;
}
.home-testi p{
	line-height: 30px;
	color: #bfbfbf;
	font-style: italic;
	font-family: Georgia, Times, Times New Roman, serif;
	margin: 0 110px 28px;
	padding: 12px 0 0;
}
.home-testi p img.start{
	display: inline-block;
	vertical-align: top;
	margin: -12px 15px 0 -60px;
}
.home-testi p span.end{
	width: 40px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
	background: url(../images/home_testi_end.png) no-repeat 0 bottom;
	margin: 0 0 0 20px;
}
.home-testi h5{
	font-size: 20px;
	line-height: 26px;
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	margin: 0 0 5px;
}
.home-testi h6{
	font-size: 13px;
	line-height: 16px;
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	margin: 0 0 46px;
}
.home-testi .btn{
	padding: 0 35px;
	color: #FFF;
	background-color: #4c68b1;
	margin: 70px 0 0;
}
.home-testi .btn:hover{
	background-color: #FFF;
	color: #303030;
}
/*testimonial section end*/


/*contact section start*/
.home-contact{
	padding: 120px 0;
	text-align: center;
	overflow: hidden;
	position: relative;
	background: url(../images/explore_cmco_bg.jpg) repeat 0 0;
}
.home-contact .top{
	background: url(../images/home_contact_bg.jpg) no-repeat center 0;
	background-size: cover;
	height: 647px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.home-contact h2{
	color: #000;
}
.home-contact .wrapper{
	position: relative;
	z-index: 1;
}
.home-contact-form{
	position: relative;
	padding: 60px 70px;
	background-color: #4c68b1;
	margin: 92px 0 0;
}
.home-contact-form:before{
	width: 100px;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	content: '';
	background: url(../images/home_contact_triangle.png) no-repeat 0 0;
}
.home-com{
	overflow: hidden;
	margin: 0 0 30px;
}
.home-contact-lt{
	width: 47.4%;
	float: left;
}
.home-contact-lt.right{
	float: right;
}
.home-contact-form input[type=text]{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #99a4c1;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 17px;
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
	background-color: transparent;
}
.home-contact-form textarea{
	height: 95px;
	width: 100%;
	border-bottom: 1px solid #99a4c1;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 17px;
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
	background-color: transparent;
	resize: none;
	padding: 15px 0 0;
}
.home-contact-form  select {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #99a4c1;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 17px;
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	outline: 0!important;
	background: url(../images/select_ar.png) right center no-repeat;
}
.home-contact-form  select:focus {
	outline: 0
}
.home-contact-form  select::-ms-expand {
 	display:none
}
.home-contact-form input[type=text]::-webkit-input-placeholder, .home-contact-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #FFF;
}
.home-contact-form input[type=text]::-moz-placeholder, .home-contact-form textarea::-moz-placeholder { /* Firefox 19+ */
  	color: #FFF;
}
.home-contact-form input[type=submit]{
	height: 60px;
	border: none;
	font-size: 17px;
	color: #303030;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
	display: block;
	cursor: pointer;
	background: url(../images/home_submit_icon.png) no-repeat 68px center #FFF;
	padding: 0 68px 0 98px;
	margin: 70px auto 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.home-contact-form input[type=submit]:hover{
	background: url(../images/home_submit_icon_h.png) no-repeat 68px center #000;
	color: #FFF;
}
/*contact section end*/


/*footer section start*/
.footer{
	padding: 35px 0 30px;
	overflow: hidden;
	border-top: 1px solid #a1a2a3;
	background-color: #3d3d3d;
}
.ftlogo{
	width: 255px;
}
.ft-left{
	float: left;
}
.footer .top-social{
	margin: 5px 0 0 118px;
	float: none;
}
.ft-right{
	float: right;
	padding: 25px 0 0;
}
.ftnav{
	padding: 0 0 15px;
	margin: 0;
	overflow: hidden;
	border-bottom: 1px solid #555555;
}
.ftnav li{
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
	position: relative;
	margin: 0 35px 0 0;
	float: left;
	font-weight: 500;
}
.ftnav li:last-child{
	margin: 0;
}
.ftnav li a{
	display: block;
	position: relative;
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ftnav li a:hover, .ftnav li a.active{
	color: #4c68b1;
}
.ftinfo{
	float: right;
	margin: 0;
	padding: 15px 0 0;
	overflow: hidden;
}
.ftinfo li{
	float: left;
	margin: 0 30px 0 0;
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
}
.ftinfo li:last-child{
	margin: 0;
}
.ftinfo li p{
	display: inline-block;
	vertical-align: top;
}
.ftinfo li.mail p{
	padding: 0 0 0 30px;
	background: url(../images/ft_icon1.png) no-repeat 0 7px;
}
.ftinfo li.phone p{
	padding: 0 0 0 25px;
	background: url(../images/ft_icon2.png) no-repeat 0 4px;
}
.copyright{
	padding: 12px 0;
	background-color: #000;
	overflow: hidden;
	border-top: 1px solid #505050;
}
.copyright p{
	font-size: 15px;
	line-height: 21px;
	color: #FFF;
	font-weight: 300;
	float: left;
	margin: 5px 0 0;
}
.designby{
	float: right;
	display: block;
}
.designby img{
	width: 139px;
}
/*footer section end*/



